body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

:root {
  --blue: #2196f3;
  --gray: #757575;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-top {
  color: inherit;
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
}

.logo-bottom {
  color: #ffffff;
}

.logo-top,
.logo-bottom {
  width: 145px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-element,
.link:hover,
.link:focus {
  color: var(--blue);
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu-list {
  margin-right: auto;
}

.menu-list,
.top-contacts-list {
  display: flex;
  justify-content: space-around;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.home-page::after,
.portfolio-page::after {
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  margin-top: 28px;
  position: relative;
  bottom: -1px;
  left: 0;
}

.home-page,
.portfolio-page {
  color: var(--blue);
}

.menu:not(:last-child) {
  padding-right: 46px;
}

.top-contacts {
  cursor: pointer;
}

.top-contacts:first-child {
  margin-left: auto;
  padding-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.top-contacts-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--gray);
}

.top {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-img.jpg");
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a;
}

.top .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 30px;
}

.top-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--blue);
  cursor: pointer;
  margin-bottom: 200px;
  padding: 10px 41px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.top-button:hover,
.top-button:focus {
  /* background-color: #f5f4fa; */
  /* color: var(--blue);*/
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-box {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.text-list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.text-list > li:not(:last-child) {
  margin-right: 30px;
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.text-content {
  width: 270px;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin-top: 10px;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
  justify-content: center;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.image-label {
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.label-text {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  height: 648px;
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-card {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-job {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin-top: 10px;
}

.team-socials {
  display: flex;
  margin: 16px 32px 30px;
  justify-content: space-between;
}

.team-social-link,
.bottom-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
    border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon,
.bottom-social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus,
.bottom-social-link:hover,
.bottom-social-link:focus {
  background-color: var(--blue);
  color: #ffffff;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-icon {
  fill: currentColor;
  margin: 16px 32px;
}

.client-link {
  display: flex;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--blue);
  border-color: var(--blue);
}

.bottom {
  display: flex;
  background: #2f303a;
}

.box-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom-left {
  display: flex;
  flex-direction: column;
}

.logo-bottom {
  margin-bottom: 20px;
}

.address {
  display: flex;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.bottom-contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.bottom-contact {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.bottom-contact:not(:last-child) {
  margin-bottom: 9px;
}

.bottom-right {
  margin-left: 70px;
}

.bottom-socials-list {
  display: flex;
}

.bottom-socials-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.bottom-social-link {
  color: #ffffff;
  background-color: #ffffff1a;
  border-radius: 50%;
}

.bottom-social:not(:last-child) {
  margin-right: 10px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu:hover,
.button-menu:focus {
  color: #ffffff;
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .box-overlay,
.portfolio-item:focus .box-overlay {
  transform: translateY(0);
}

.box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: #2196f3e5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}

.portfolio-caption {
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin: 4px 24px 20px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.backdrop:not(.is-hidden) {
  background-color: #00000033;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
}

.backdrop:not(.is-hidden) .modal {
  animation-name: move;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

@keyframes move {
  0% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.close-btn {
  display: flex;
  padding: 6px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
