body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  width: 1600px;
}

:root {
  --blue: #2196f3;
  --gray: #757575;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
}

.container {
  width: 1200px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-top {
  color: inherit;
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
}

.logo-bottom {
  color: #ffffff;
}

.logo-top,
.logo-bottom {
  width: 145px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-element,
.link:hover,
.link:focus {
  color: var(--blue);
}

.link {
  text-decoration: none;
}

.menu-list,
.top-contacts-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu:not(:last-child) {
  padding-right: 46px;
}

.top-contacts:first-child {
  margin-left: 371px;
}

.top-contacts-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--gray);
}

.top-contacts:not(:last-child) {
  padding-right: 50px;
}

.top {
  background: #2f303a;
}

.top .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 30px;
}

.top-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--blue);
  cursor: pointer;
  margin-bottom: 200px;
}

.top-button:hover,
.top-button:focus {
  background-color: #f5f4fa;
  color: var(--blue);
}

.text-list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.text-list > li:not(:last-child) {
  margin-right: 30px;
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.text-content {
  width: 270px;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin-top: 10px;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
  justify-content: center;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  height: 648px;
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-card {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-job {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin-top: 10px;
  margin-bottom: 30px;
}

.bottom {
  display: flex;
  background: #2f303a;
}

.box-bottom {
  display: flex;
  flex-direction: column;
}

.logo-bottom {
  margin-top: 60px;
  margin-bottom: 20px;
}

.address {
  display: flex;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.bottom-contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 60px;
}

.bottom-contact {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.bottom-contact:not(:last-child) {
  margin-bottom: 9px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.button-menu:hover,
.button-menu:focus {
  color: #ffffff;
  background: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}

.portfolio-caption {
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin: 4px 24px 20px;
}
