.asset__box {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.asset {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.asset>li:not(:last-child) {
    margin-right: 30px;
}

.asset__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.asset__content {
    width: 270px;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--gray);
    margin-top: 10px;
}