.clients {
  display: flex;
  justify-content: space-between;

  &__icon {
    fill: currentColor;
    margin: 16px 32px;
  }

  &__link {
    display: flex;
    color: getColor(icon);
    border: 1px solid getColor(icon);
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: getColor(accent);
      border-color: getColor(accent);
    }
  }
}
