.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .opening & {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (nim-width:1200px) {

  .container {

    &--footer {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}