.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}

.container--footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}