.header {
  border-bottom: 1px solid #ececec;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__logo {
    color: inherit;
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    cursor: pointer;

    &:first-child {
      margin-left: auto;
      padding-right: 50px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: getColor(secondary);
  }
}

.navigation {
  margin-right: auto;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item:not(:last-child) {
    padding-right: 46px;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: getColor(primary);

    &--current {
      color: getColor(accent);
    }

    &--current::after {
      content: "";
      display: flex;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: getColor(accent);
      margin-top: 28px;
      position: relative;
      bottom: -1px;
      left: 0;
    }
  }
}
