.headline__logo {
    color: inherit;
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
}

.footer__logo {
    color: #ffffff;
    margin-bottom: 20px;
}

.logo {
    width: 145px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__element {
    color: var(--blue);
}