.logo {
  width: 145px;
  font-family: getFont(secondary);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__element {
    color: getColor(accent);
  }
}
