.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu__item:not(:last-child) {
    margin-right: 8px;
}

.menu__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button:hover,
.menu__button:focus {
    color: #ffffff;
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}