.socials {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--light {
      color: getColor(icon);
    }

    &--dark {
      color: getColor(clear);
      background-color: getBG(light);
    }

    &:hover,
    &:focus {
      background-color: getColor(accent);
      color: getColor(clear);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
