.team {
    display: flex;
    justify-content: center;
}

.team__card {
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__card:not(:last-child) {
    margin-right: 30px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team__job {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray);
    margin-bottom: 16px;
}