.work {
    display: flex;
    justify-content: center;
}

.work__item:not(:last-child) {
    margin-right: 30px;
}

.work__item {
    position: relative;
    overflow: hidden;
}

.work__label {
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    position: absolute;
    bottom: 4px;
    left: 0;
}

.work__text {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}