.work {
  display: none;
}

  @media screen and (min-width: 1200px) {
  .work {
    display: block;
    
    &__list {
    display: flex;
    justify-content: center;
    }

    &__item {
      position: relative;
      overflow: hidden;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__label {
      width: 100%;
      background-color: getBG(cover);
      padding: 27px 0;
      position: absolute;
      bottom: 4px;
      left: 0;
    }

    &__text {
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: getColor(clear);
    }
  }
}